<?xml version="1.0" encoding="UTF-8"?>

<!-- 

    Copyright (c) 2011, 2014 Hércules S. S. José
    

    Este arquivo é parte do programa ImobiliáriaWeb.

    ImobiliáriaWeb é um software livre; você pode redistribui-lo e/ou 

    modificá-lo dentro dos termos da Licença Pública Geral Menor GNU como 

    publicada pela Fundação do Software Livre (FSF); na versão 2.1 da 

    Licença.
    
    
    Este programa é distribuído na esperança que possa ser util, 

    mas SEM NENHUMA GARANTIA; sem uma garantia implicita de ADEQUAÇÂO a qualquer

    MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral Menor GNU em 
    
    português para maiores detalhes.
    
    
    Você deve ter recebido uma cópia da Licença Pública Geral Menor GNU sob o 

    nome de "LICENSE.TXT" junto com este programa, se não, acesse o site HSlife no 

    endereco www.hslife.com.br ou escreva para a Fundação do Software Livre(FSF) Inc., 

    51 Franklin St, Fifth Floor, Boston, MA  02110-1301, USA.
    
    
    Para mais informações sobre o programa ImobiliáriaWeb e seus autores acesso o 

    endereço hslife.com.br, pelo e-mail contato@hslife.com.br ou escreva para 

    Hércules S. S. José, Av. Ministro Lafaeyte de Andrade, 1683 - Bl. 3 Apt 404, 

    Marco II - Nova Iguaçu, RJ, Brasil.

 -->
 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- NÃO ALTERE ESTAS LINHAS -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>  
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>   
		<property name="hibernate.jdbc.batch_size">20</property>     

		<!-- NÃO ALTERE ESTAS LINHAS -->

		<!--
			No lugar de 'localhost', informe o endereço do servidor. Caso a porta
			padrão do PostgreSQL seja diferente altere a porta Informe também o
			nome do banco de dados a ser utilizado
		-->
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/imobiliaria</property>


		<!-- No lugar de 'root', informe o usuário do banco de dados -->
		<property name="hibernate.connection.username">imobiliaria</property>


		<!--
			No lugar de 'root' ou em branco, informe a senha do usuário do banco de dados
		-->
		<property name="hibernate.connection.password">1m0v3lw3b</property>


		<!-- NÃO ALTERE ESTAS LINHAS -->
		<mapping class="br.com.hslife.imobiliaria.model.Agenda" />
		<mapping class="br.com.hslife.imobiliaria.model.Aluguel" />				
		<mapping class="br.com.hslife.imobiliaria.model.Contrato" />
		<mapping class="br.com.hslife.imobiliaria.model.Corretor" />
		<mapping class="br.com.hslife.imobiliaria.model.Cliente" />
		<mapping class="br.com.hslife.imobiliaria.model.ClientePJ" />
		<mapping class="br.com.hslife.imobiliaria.model.Endereco" />
		<mapping class="br.com.hslife.imobiliaria.model.FormaPagamento" />				
		<mapping class="br.com.hslife.imobiliaria.model.Foto" />
		<mapping class="br.com.hslife.imobiliaria.model.Funcionario" />
		<mapping class="br.com.hslife.imobiliaria.model.Grupo" />
		<mapping class="br.com.hslife.imobiliaria.model.Imovel" />
		<mapping class="br.com.hslife.imobiliaria.model.IndiceReajuste" />
		<mapping class="br.com.hslife.imobiliaria.model.ModeloContrato" />
		<mapping class="br.com.hslife.imobiliaria.model.Relatorio" />		
		<mapping class="br.com.hslife.imobiliaria.model.Permissao" />
		<mapping class="br.com.hslife.imobiliaria.model.Seguradora" />
		<mapping class="br.com.hslife.imobiliaria.model.ServicoManutencao" />				
		<mapping class="br.com.hslife.imobiliaria.model.Socio" />		
		<mapping class="br.com.hslife.imobiliaria.model.Telefone" />
		<mapping class="br.com.hslife.imobiliaria.model.Usuario" />		
		
		<!-- NÃO ALTERE ESTAS LINHAS -->
	</session-factory>
</hibernate-configuration>
